.elementor-143 .elementor-element.elementor-element-a6a9a62:not(.elementor-motion-effects-element-type-background), .elementor-143 .elementor-element.elementor-element-a6a9a62 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-143 .elementor-element.elementor-element-a6a9a62{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-143 .elementor-element.elementor-element-a6a9a62 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-143 .elementor-element.elementor-element-6d27c31.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-143 .elementor-element.elementor-element-6d27c31.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-143 .elementor-element.elementor-element-6d27c31.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-143 .elementor-element.elementor-element-6048111{text-align:center;}.elementor-143 .elementor-element.elementor-element-6048111 img{width:43%;}.elementor-143 .elementor-element.elementor-element-c03217d .elementor-spacer-inner{--spacer-size:113px;}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(7px/2);}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(7px/2);}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(7px/2);margin-left:calc(7px/2);}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-7px/2);margin-left:calc(-7px/2);}body.rtl .elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-7px/2);}body:not(.rtl) .elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-7px/2);}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-icon i{color:#7E7D88;}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-icon svg{fill:#7E7D88;}.elementor-143 .elementor-element.elementor-element-9920d5e{--e-icon-list-icon-size:20px;}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-text{color:#7E7D88;padding-left:17px;}.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item > .elementor-icon-list-text, .elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item > a{font-family:"Roboto", Sans-serif;font-size:20px;font-weight:400;}.elementor-143 .elementor-element.elementor-element-e19286d .elementor-spacer-inner{--spacer-size:185px;}.elementor-143 .elementor-element.elementor-element-efc6219 .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-143 .elementor-element.elementor-element-efc6219 .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-143 .elementor-element.elementor-element-efc6219 .elementor-button{font-family:"Roboto", Sans-serif;font-weight:500;fill:#FF7506;color:#FF7506;background-color:#FFDCBE;}@media(min-width:768px){.elementor-143 .elementor-element.elementor-element-6d27c31{width:100%;}}/* Start custom CSS for icon-list, class: .elementor-element-9920d5e */.elementor-143 .elementor-element.elementor-element-9920d5e{
    --radius: 8px;
    
}
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-icon{
  color: currentColor;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: currentColor;
  text-align: center;
}
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item.active .elementor-icon-list-icon,
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item:hover .elementor-icon-list-icon{
    -webkit-text-stroke-width: 1px;
}
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item a{
    padding: 13px 18px !important;
    border-radius: var(--radius);
}
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item.active a,
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item:hover a{
    background: #fff;
}
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item.active span,
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item:hover span,
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item.active span i,
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-item:hover span i{
    color: #FF7506;
}
.elementor-143 .elementor-element.elementor-element-9920d5e .elementor-icon-list-text{
    min-width: var(--width);
}
.elementor-143 .elementor-element.elementor-element-9920d5e a:focus{
    outline: none;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a6a9a62 */:root{
    --width: 250px;
    --narrow-width: 80px;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62{
    width: var(--width);
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none
}
.elementor-143 .elementor-element.elementor-element-a6a9a62::-webkit-scrollbar{
    display: none;
}
.sidebar-toggle{
    cursor: pointer;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62{
    width: var(--narrow-width) !important;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-inner-section .elementor-widget-wrap{
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62 .logo{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .logo{
    opacity: 0;
}
body.open .elementor-143 .elementor-element.elementor-element-a6a9a62 .logo{
    display: none;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .sidebar-toggle{
    right: 26px;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-widget-search-form form{
    position: relative;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-widget-search-form form:before{
    z-index: 1;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-search-form__icon{
    padding-left: 14px !important;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-icon-list-text{
    opacity: 0;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .elementor-widget-image-box{
    opacity: 0;
}
.elementor-143 .elementor-element.elementor-element-a6a9a62 .user{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-143 .elementor-element.elementor-element-a6a9a62 .user .elementor-widget-wrap{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
body.opening  .elementor-143 .elementor-element.elementor-element-a6a9a62 .user img {
    width: 40px;
    transition: all 0.3s ease-in-out;
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--width);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}
@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--width) - var(--narrow-width)));
    transition: all 0.6s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
}
html, body{
    overflow-x: hidden;
}
}
@media (max-width: 767px){
.elementor-143 .elementor-element.elementor-element-a6a9a62{
    height: 100vh;
}
body.left .elementor-143 .elementor-element.elementor-element-a6a9a62{
    transform: translateX(calc(-1*var(--width)));   
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0;
    transform: translateX(var(--width));
    transition: all 0.3s ease-in-out !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    transform: translateX(0);
}
}
.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */